.contact {
  text-align: center;
}
.contact img {
  width: 33%;
  min-width: 200px;
  transform: translate(-10%, 0);
}
.contact_message {
  font-size: clamp(14px 1.6vw 24px);
  color: #2d3487;
  margin: 5.3vw auto 8.9vw;
  text-align: center;
  line-height: 1.6;
}
.form {
  margin: 0 20px;
}
form {
  max-width: 500px;
  margin: 0 auto;
}

.email {
  display: block;
  padding-bottom: 10px;
}

input,
textarea,
select {
  display: block;
  padding: 10px;
  width: 100%;
  color: #999;
  border: 1px solid black;
  box-sizing: border-box;
}
textarea {
  height: 200px;
}
button {
  width: 70%;
  margin: 20px 14%;
  border: none;
}
